@import '../../app.component.scss';

:host {
    display: flex;
    width: 344px;
    height: 100%;
    background-color: $light-primary-color;
    flex-direction: column;
}

.gm-editor-categories {
    flex: 1;
    overflow: auto;
    ul {
        margin-top: 2px;
        list-style-type: none;
        padding-inline-start: 8px;
    } 
    li {
        display: block;
        text-decoration: none;
        padding: 8px 2px;
    }
    span:hover {
      display: inline-block;
      background-color: gold;
    }
    background-color: $light-primary-color;
}

.gm-editor-object-view {
  display: flex;
  flex: 2;
  overflow-y: scroll;
  display: flex;
  margin-bottom: 35px;
  background-color: $dark-primary-color;
  span {
    margin: 4px;
    img {
      object-fit: cover;
      height: auto;
      width: auto;
      border-style: solid;
      border-color: $accent-color;
      border-width: 1px;
    }
    height: 64px;
    width: 64px;
    border-width: 4px;
    display: inline-block;
  }
  span:hover {
    img {
      border-color: white;
      background-color: white;
    }
  }
}

.gm-editor-viewer {
  width: 100%;
  height: 100%;
}

.title {
  margin: auto;
  h2 {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

.context-menu {
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  li {
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    color: $text;
  }
  li:hover {
    background-color: $light-primary-color;
    color: $primary-text;
  }
}
