<!-- -- Not Implemented
<div class="gm-editor-categories">
  <ul>
    <li *ngFor="let cat of dme.Cats">
      <dme-cat [cat]="cat" (Selected)="ShowCat($event)"></dme-cat>
    </li>
  </ul>
</div>
---->
<div class="title">
  <h2>Gallery</h2>
</div>
<div class="gm-editor-object-view">
  <div class="gm-editor-viewer">
    <span *ngFor="let texture of dme.activeCat.items" (dragstart)="imgStartDrag($event, texture)" draggable="true"
        [matMenuTriggerFor]="ContextMenu"
        [matMenuTriggerData]="{item:  texture}"
        >
      <img [src]="texture.preview">
    </span>
  </div>
</div>

<mat-menu #ContextMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item>
      <mat-icon>delete_forever</mat-icon>
    </button>
  </ng-template>
</mat-menu>
