  <div *ngIf='!RightMenuOpen()' class="Right-Menu-Buttons">
      <ul>
        <li *ngIf="users.isDM()" (click)='OpenEditor()' matTooltip="Gallery">
          <mat-icon aria-hidden="false" aria-label="Gallery" >
            collections
          </mat-icon>
        </li>
        <li (click)='OpenChat()' matTooltip="Chat">
          <mat-icon>
            forum
          </mat-icon>
        </li>
        <li (click)='OpenJournal()' matTooltip="Journal">
          <mat-icon>
            menu_book
          </mat-icon>
        </li>
      </ul>
  </div>


  <div class="Left-Side-Buttons">
    <ul #paintButton="cdkOverlayOrigin" cdkOverlayOrigin>
        <li *ngIf="IsSelectionMode()" [matMenuTriggerFor]="ModeMenu"  matTooltip="Selection Mode">
            <mat-icon aria-hidden="false" aria-label="Seleccion">pan_tool</mat-icon>
        </li>
        <li *ngIf="!IsSelectionMode()" [matMenuTriggerFor]="ModeMenu" MatTooltip="Draw Mode">
          <mat-icon>brush</mat-icon>
        </li>
        <li *ngIf="!IsSelectionMode()" (click)="OnBrushClick()" >
          <mat-icon aria-hidden="false" aria-label="Pintado">palette</mat-icon>
        </li>
        <li *ngIf="isDM()" [matMenuTriggerFor]="LayerMenu" matTooltip="Layers">
            <mat-icon aria-hidden="false" aria-label="Capas" >layers</mat-icon>
        </li>
        <li matTooltip="Upload Image" >
      <label *ngIf="isDM()" matToolTip="Upload Image" >
            <mat-icon aria-hidden="false" aria-label="Subir Imagen" >cloud_upload</mat-icon>
        <input type="file" style="display: none"
        accept="image/png" (input)="uploadFiles($event)" >
      </label>
        </li>
      <li *ngIf="isDM()" (click)="OpenSettingsOverlay()" matTooltip="Board Settings">
          <mat-icon aria-hidden="false" aria-label="Configuraciones" >settings</mat-icon>
      </li>
    </ul>
  </div>

  <mat-menu #LayerMenu="matMenu">
      <button *ngFor="let l of _WasmService.layers" mat-menu-item (click)="ActivateLayer(l.id)" > {{l.name}} </button>
  </mat-menu>

  <mat-menu #ModeMenu="matMenu">
    <button mat-menu-item class="menuButton" (click)="ChangeToSelectionMode()" matTooltip="Selection Mode"> <mat-icon> pan_tool </mat-icon> </button>
    <button mat-menu-item class="menuButton" (click)="ChangeToDrawMode()"> <mat-icon> brush </mat-icon> </button>
  </mat-menu>

  <ng-template #BushOptions
               cdkConnectedOverlay
               [cdkConnectedOverlayOrigin]="paintButton"
               [cdkConnectedOverlayOpen]="BrushOverlayOpen"
  >
      <div class="brush-settings">
          <ul>
              <li>
                  <mat-label> <i class="material-icons"> color_lens </i> </mat-label><input type="color" [(ngModel)]="BrushColor">
              </li>
              <li>
                  <mat-label> <i class="material-icons">opacity </i> </mat-label>
                  <mat-slider
                      thumbLabel
                      min="0" max="255" step="5"
                      [(ngModel)]="BrushAlpha"
                      name="colorAlpha">
                  </mat-slider>
              </li>
          </ul>
      </div>
  </ng-template>


  <ng-template #ContextMenu let-ctx>
    <section class="contextMenu">
      <ul *ngIf="ctx.value0.roSelected">
        <li class="activable-li" (click)='MakeToken(ctx.value0.ro["obj.id"])'> MakeToken </li>
        <li *ngIf="isDM()" class="activable-li" [matMenuTriggerFor]="changeToLayer"> Move To Layer </li>
        <li class="activable-li" (click)='RemoveRo(ctx.value0.ro["obj.id"])'> Remove </li>
      </ul>
    </section>
    <mat-menu #changeToLayer="matMenu">
      <button *ngFor="let l of _WasmService.layers" mat-menu-item (click)='ChangeLayer(ctx.value0.ro["obj.id"], l.id)' > {{l.name}} </button>
    </mat-menu>
  </ng-template>
