@import './../../app.component';

.Right-Menu-Buttons {
  position: absolute;
  top: 10%;
  right: 0;
  float: right;
  background-color: $dark-primary-color;
  height: fit-content;
  width: fit-content;

  ul{
    list-style-type: none;
    margin:0px;
    padding: 0px;
  }

  li{
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    color:$text;
  }

  li:hover {
    background-color: $light-primary-color;
    color: $primary-text;
  }
}

.Left-Side-Buttons {
  position: absolute;
  top: 10%;
  left: 0px;
  float:left;
  background-color: $dark-primary-color;
  height: fit-content;
  width: fit-content;

  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  li {
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    color: $text;
  }

  li:hover{
    background-color: $light-primary-color;
    color: $primary-text;
  }
}

.activable-li:hover {
  background-color: $light-primary-color;
  color: $primary-text;
}

.brush-settings {
  background: $dark-primary-color;
  color: $primary-text;
  height: fit-content;
  width: fit-content;
  margin-left: 55px;

  ul {
    padding: 0;
    list-style-type: none;
    margin: 0px;
  }

  li {
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    color:$text;
  }
}

.contextMenu {
  background: $dark-primary-color;
  color: $primary-text;
  height: fit-content;
  width: fit-content;

  ul {
    padding: 0;
    list-style-type: none;
    margin: 0px;
  }

  li {
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    color:$text;
  }
}

.mode-menu {
  background: $dark-primary-color;
  color: $primary-text;
  height: fit-content;
  width: fit-content;

  ul {
    padding: 0;
    list-style-type: none;
    margin: 0px;
  }

  li {
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    color:$text;
  }
}
