<form FormGroup="configs">
  <div>
    <label> Grid Line Color </label>
    <mat-form-field>
      <input matInput [(ngModel)]="viewcolor" name="viewcolor" type="color" id="color">
      <!-- input matInput [(ngModel)]="configData.colorAlpha" name="colorAlpha" type="range" min=0 max=255 id="coloralpha" -->
    </mat-form-field>
			<mat-slider min="0" max="255" step="1" [(ngModel)]="configData.colorAlpha" name="colorAlpha"></mat-slider>
  </div>
  <div>
    <label> Grid Background Color </label>
    <mat-form-field>
      <input matInput [(ngModel)]="viewBGColor" name="viewBGColor" type="color" id="backgroundColor">
    </mat-form-field>
    <mat-slider min="0" max="255" step="1" [(ngModel)]="configData.backgroundColorAlpha" name="backgroundColorAlpha"></mat-slider>
  </div>
  <div>
    <label> Grid Line Width </label>
    <mat-form-field>
      <input matInput [(ngModel)]="configData.width" name="lineWidth" type="number" id="width" min="1" max="32" />
    </mat-form-field>
  </div>
  <div>
    <label> Grid Size </label>
    <mat-form-field>
      <input matInput [(ngModel)]="configData.gridsize_x" name="gsx" type="number" id="gridSizeX" min="1" max="64">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="configData.gridsize_y" name="gsy" type="number" id="gridSizeX" min="1" max="64">
    </mat-form-field>
  </div>
  <div>
    <label> Tile Size </label>
    <mat-form-field>
      <input matInput [(ngModel)]="configData.tilesize_x" name="tsx" type="number" id="tileSizeX" min="1" max="64">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="configData.tilesize_y" name="tsy" type="number" id="tileSizeX" min="1" max="64">
    </mat-form-field>
  </div>
</form>
<div mat-dialog-actions>
  <button mat-button (click)="OnNoClick()"> Cancel </button>
  <button mat-button cdkFocusInitial (click)="SaveClick()"> Save </button>
</div>
