<div class="Canvas-Wrapper" (drop)="DropHandler($event)" (dragover)="DragOverHandle($event)" (wheel.p)="scroll($event)" (keypressed)="KeyUp($event)" (contextmenu)="EmptyHandler($event)"  #wrapper>
    <canvas id="canvas"  (drop)="EmptyHandler($event)" (dragover)="EmptyHandler($event)" (wheel.p)="scroll($event)" (keydown)="KeyUp($event)" (keypressed)="KeyUp($event)"  class="canvas" #canvas> Browser Not Supported</canvas>
</div>
