<div class="message-log">
    <div *ngFor="let msg of Messages()">
        <app-message [message]="msg"></app-message>
    </div>
</div>
<div class="input-container top-border-separator">
    <div class="player-title">
        <span class="rol-intro">
            En el rol:
        </span>
        <span class="selected-title" [mat-menu-trigger-for]="rolesMenu">
            {{ CurrentRol() }}
        </span>
    </div>
    <textarea (keyup.enter)="submitTextArea($event)"> </textarea>
</div>

<mat-menu #rolesMenu="matMenu">
    <button mat-menu-item *ngFor="let rol of Roles()" (click)="NewRol(rol)"> {{rol.name}} </button>
</mat-menu>
