$dark-primary-color: #455A64;
$light-primary-color: #CFD8DC;
$accent-color: #9E9E9E;
$primary-color: #607D8B;
$text: #FFF;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;


.message-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 4px;

    .player-image {
        width: 64px;
        height: 64px;
    }

    .message-content {
        flex: 1;
    }
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 128px;

    textarea {
        background-color: $light-primary-color;
        border-radius: 15px;
        margin-left: 8px;
        margin-top: 8px;
        margin-bottom: 40px;
        margin-right: 8px;
        flex: 1;
    }
}

.top-border-separator {
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 1px;
}

.player-title {
    display: flex;
    width: 100%;
    height: 24px;
    padding-left: 8px;

    .rol-intro {
        color: #AAA // Light text Color
    }

    .selected-title {
        flex: 1;
        padding-left: 8px;
    }
}

.message-log {
    flex: 1;
    overflow: auto;
    padding-right: 8px;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
