/*
.left-menu:hover,.left-menu.expanded {
  width:250px;
  overflow: visible;
}
.right {
  right:0;
}

.left-menu {
  background: #212121;
  //border-right: 1px solid #e5e5ee;
  position: fixed;
  top: 0;
  bottom : 0;
  height: 150px;
  width: 12px;
  overflow: hidden;
  -webkit-transition: width .05s linear;
  transition: width .05s linear;
  -webkit-transform: translateZ(0) scale(1,1);
  transform: translateZ(0) scale(1,1);
  z-index: 1000;
}

.left-menu>ul {
  margin: 7px 0;
}
*/

@import './../../app.component';

.Right-Menu {
  top:0;
  right: 0;
  height:100%;
  background-color: $dark-primary-color;
  color:$primary-text;
  display: block;
}

.bar {
  width:100%;
  background-color: $dark-primary-color;
  color: $secondary-text;
}


.bar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width:100%;
}

.bar li {
  display:inline-block;
  color: $text;
  padding: 8px 16px;
  text-decoration: none;
  border:1px;
  border-right: 2px;
  border-color: #000000;
}

.bar li:hover {
  background-color:$light-primary-color;
  color: $primary-text;
}

chat-view {
  max-width: 304px;
}

.content {
  height:100%;
}

.Right-Menu-Buttons{
  background-color: $light-primary-color;
  ul{
    list-style-type: none;
    margin:0px;
    padding: 0px;
  }
  il {
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    color:$text;
  }
}
