  <div *ngIf='DisplayingRightMenu()' class="Right-Menu" >
    <div class="bar">
      <ul>
      <li (click)="toggleRightBar()" matTooltip="Close">
      <a> <mat-icon>close</mat-icon> </a>
      </li>
      <li *ngIf="users.isDM()" (click)="OpenTab(3)" matTooltip="Gallery">
      <a> <mat-icon>collections</mat-icon> </a>
      </li>
      <li (click)="OpenTab(2)" matTooltip="Chat">
      <a> <mat-icon>forum</mat-icon> </a>
      </li>
      <li (click)="OpenTab(1)" matTooltip="Journal">
      <a> <mat-icon>menu_book</mat-icon> </a>
      </li>
      </ul>
    </div>
    <div class="content">
      <dm-editor *ngIf='DisplayingEditor()'></dm-editor>
      <app-editor *ngIf="DisplayingJournal()"></app-editor>
      <chat-view *ngIf='DisplayingChat()'></chat-view>
    </div>
  </div>
