img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

:host {
    position: relative;
}

.Expand {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 5%;
}
.Expand:hover {
  opacity: 70%;
}

.Delete {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  opacity: 5%;
}

.Delete:hover {
  opacity: 70%;
}

.Replace {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35%;
  z-index: 2;
  opacity: 5%;
}

.Replace:hover {
  opacity: 70%;
}

.replace-button {
  width: 100%;
}
