<button class="Replace">
    <label for="imageUpload">
        <mat-icon> add_to_photos </mat-icon>
    </label>
</button>
<input type="file" style="display: none"
        accept="image/png" (input)="UploadFile($event)"
        id="imageUpload" name="imageUpload">
<button class="Delete" *ngIf="ImageExist()" (click)="DeleteImage()">
    <mat-icon> clear </mat-icon>
</button>
<!--
<button class="Expand" *ngIf="ImageExist()" (click)="ExpandImage()">
    <mat-icon> highlight_alt </mat-icon>
</button>
-->
<img class="background" [src]="GetImage()">

<div class="box"> </div>
