<div class="wrapper">
    <div class="header"></div>
    <div class="body">
        <div class="left">
            <div class="top">
                <div class="attributes">
                    <div class="stat"></div>
                    <div class="stat"></div>
                    <div class="stat"></div>
                    <div class="stat"></div>
                    <div class="stat"></div>
                    <div class="stat"></div>
                    <div class="stat"></div>
                </div>
                <div class="right">
                    <div class="inspiration line-block"></div>
                    <div class="proficiency line-block">
                    </div>
                    <div class="round-stat"></div>
                    <div class="att-list">
                        <ul>
                            <li>
                                <input type="checkbox"/> <input class="short-number" /> Strength
                            </li>
                            <li>
                                <input type="checkbox"/> <input class="short-number"/> Dexterity
                            </li>
                            <li>
                                <input type="checkbox"/> <input class="short-number"/> Constitution
                            </li>
                            <li>
                                <input type="checkbox"/> <input class="short-number"/> Intelligence
                            </li>
                            <li>
                                <input type="checkbox"/> <input class="short-number"/> Wisdom
                            </li>
                            <li>
                                <input type="checkbox"/> <input class="short-number"/> Charisma
                            </li>
                        </ul>
                        <div class="list-title"> Saving Throws </div>
                    </div>
                    <div class="att-list">
                        <ul>
                            <li>
                                <input type="checkbox"/> <input class="short-number" /> Strength
                            </li>
                            <li>
                                <input type="checkbox"/> <input class="short-number"/> Dexterity
                            </li>
                            <li>
                                <input type="checkbox"/> <input class="short-number"/> Constitution
                            </li>
                            <li>
                                <input type="checkbox"/> <input class="short-number"/> Intelligence
                            </li>
                            <li>
                                <input type="checkbox"/> <input class="short-number"/> Wisdom
                            </li>
                            <li>
                                <input type="checkbox"/> <input class="short-number"/> Charisma
                            </li>
                        </ul>
                        <div class="list-title"> Saving Throws </div>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="round-stat"></div>
            </div>
        </div>
        <div class="middle"></div>
        <div class="right"></div>
    </div>
</div>
