.wrapper {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;

    .header {
        height: 120px;
        background-color: red;
    }

    .body {
        background-color: cyan;
        flex: 1;
        display: flex;
        flex-direction: row;

        .left {
            flex: 1;
            background-color: yellow;

            .top {
                display: flex;
                flex-direction: row;
                .right {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        .middle {
            flex: 1;
            background-color: green;
        }
        .right {
            flex: 1;
            background-color: maroon;
        }
    }
}

.stat {
    width: 56px;
    height: 52px;
    margin: auto;
    margin-top: 6px;
    background-color: red; // Debug
}

.attributes {
    background-color: white;
    width: 68px;
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
}

.line-block {
    display: block;
    height: 48px;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

.inspiration {
    background-color: blue; //DEBUG
}

.proficiency {
    background-color: green; //DEBUG
}

.att-list {
    background-color: blue;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    ul {
        list-style: none;
        padding-left: 0px;
        margin-bottom: 4px;
        li {
            display: flex;
            font-size: 10px;
            .short-number {
                width: 12px;
                text-align: center;
                margin-right: 4px;
            }
        }
    }
    .list-title {
        text-align: center;
    }
}
