<!--
-Copyright (c) 2021 by Brandon Fulljames (https://codepen.io/evertras/pen/YVVeMd)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->


<!-- 
Modifications By Alan Deni Lisboa Orellana 2021
-->

<form class="charsheet">
  <header>
    <section class="charname">
      <label for="charname">Character Name</label><input name="charname" placeholder="Thoradin Fireforge" [(ngModel)]="model.name" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
    </section>
    <section class="misc">
      <ul>
        <li>
          <label for="classlevel">Class & Level</label>
          <input name="classlevel" placeholder="Paladin 2" [(ngModel)]="model.classlvl" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
        </li>
        <li>
          <label for="background">Background</label>
          <input name="background" placeholder="Acolyte" [(ngModel)]="model.background" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
        </li>
        <li>
          <label for="playername">Player Name</label>
          <input name="playername" placeholder="Player McPlayerface" [(ngModel)]="model.playerName" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
        </li>
        <li>
          <label for="race">Race</label>
          <input name="race" placeholder="Half-elf" [(ngModel)]="model.race" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"/>
        </li>
        <li>
          <label for="alignment">Alignment</label>
          <input name="alignment" placeholder="Lawful Good" [(ngModel)]="model.alignment" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
        </li>
        <li>
          <label for="experiencepoints">Experience Points</label>
          <input name="experiencepoints" placeholder="3240" [(ngModel)]="model.exp" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
        </li>
      </ul>
    </section>
  </header>
  <main>
    <section>
      <section class="attributes">
        <div class="scores">
          <ul>
            <li>
              <div class="score">
                <label for="Strengthscore" (click)="_roll('STR')">
                  <a href="javascript:void(0)" > Strength </a>
                </label>
                <input name="Strengthscore" placeholder="10" [(ngModel)]="model.strength" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
              </div>
              <div class="modifier">
                <input name="Strengthmod" placeholder="+0" [ngModel]="model.STR" [ngModelOptions]="{standalone: true}" />
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Dexterityscore" (click)="_roll('DEX')"> <a href="javascript:void(0)"> Dexterity</a></label>
                <input name="Dexterityscore" placeholder="10" [(ngModel)]="model.dexterity" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
              </div>
              <div class="modifier">
                <input name="Dexteritymod" placeholder="+0" [ngModel]="model.DEX" />
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Constitutionscore" (click)="_roll('CON')"> <a href="javascript:void(0)">Constitution </a></label>
                <input name="Constitutionscore" placeholder="10" [(ngModel)]="model.constitution" [ngModelOptions]="{standalone: true}"  (ngModelChange)="SendUpdate()" />
              </div>
              <div class="modifier">
                <input name="Constitutionmod" placeholder="+0" [ngModel]="model.CON" />
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Wisdomscore" (click)="_roll('WIS')"> <a href="javascript:void(0)">>Wisdom</a></label>
                <input name="Wisdomscore" placeholder="10" [(ngModel)]="model.wisdom" [ngModelOptions]="{standalone: true}"  (ngModelChange)="SendUpdate()" />
              </div>
              <div class="modifier">
                <input name="Wisdommod" placeholder="+0" [ngModel]="model.WIS" />
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Intelligencescore" (click)="_roll('INT')"> <a href="javascript:void(0);">>Intelligence</a></label>
                <input name="Intelligencescore" placeholder="10" [(ngModel)]="model.intelligence" [ngModelOptions]="{standalone: true}"  (ngModelChange)="SendUpdate()" />
              </div>
              <div class="modifier">
                <input name="Intelligencemod" placeholder="+0" [ngModel]="model.INT" />
              </div>
            </li>
            <li>
              <div class="score">
                <label for="Charismascore" (click)="_roll('CHA')"> <a href="javascript:void(0)">Charisma </a></label>
                <input name="Charismascore" placeholder="10" [(ngModel)]="model.charisma" [ngModelOptions]="{standalone: true}"  (ngModelChange)="SendUpdate()" /> 
              </div>
              <div class="modifier">
                <input name="Charismamod" placeholder="+0" [ngModel]="model.CHA" />
              </div>
            </li>
          </ul>
        </div>
        <div class="attr-applications">
          <div class="inspiration box">
            <div class="label-container">
              <label for="inspiration">Inspiration</label>
            </div>
            <input name="inspiration" type="checkbox" [(ngModel)]="model.inspiration" [ngModelOptions]="{standalone: true}"  (ngModelChange)="SendUpdate()" />
          </div>
          <div class="proficiencybonus box">
            <div class="label-container">
              <label for="proficiencybonus">Proficiency Bonus</label>
            </div>
            <input name="proficiencybonus" placeholder="+2" [(ngModel)]="model.proficiency" [ngModelOptions]="{standalone: true}"  (ngModelChange)="SendUpdate()" />
          </div>
          <div class="saves list-section box">
            <ul>
              <li>
                <label for="Strength-save" (click)="_rollSave('strSave')"> <a href="javascript:void(0)">Strength</a></label>
                <input name="Strength-save" placeholder="+0" type="text" [(ngModel)]="model.strSave" [ngModelOptions]="{standalone: true}"  (ngModelChange)="SendUpdate()" />
                <input name="Strength-save-prof" type="checkbox" [(ngModel)]="model.strSaveChk" [ngModelOptions]="{standalone: true}"  (ngModelChange)="SendUpdate()" />
              </li>
              <li>
                <label for="Dexterity-save" (click)="_rollSave('dexSave')"> <a href="javascript:void(0)">Dexterity</a></label>
                <input name="Dexterity-save" placeholder="+0" type="text" [(ngModel)]="model.dexSave" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
                <input name="Dexterity-save-prof" type="checkbox" [(ngModel)]="model.dexSaveChk" [ngModelOptions]="{standalone: true}"  (ngModelChange)="SendUpdate()" />
              </li>
              <li>
                <label for="Constitution-save" (click)="_rollSave('conSave')"> <a href="javascript:void(0)">Constitution</a></label>
                <input name="Constitution-save" placeholder="+0" type="text" [(ngModel)]="model.conSave" [ngModelOptions]="{standalone: true}"  (ngModelChange)="SendUpdate()" />
                <input name="Constitution-save-prof" type="checkbox" [(ngModel)]="model.conSaveChk" [ngModelOptions]="{standalone: true}"  (ngModelChange)="SendUpdate()" />
              </li>
              <li>
                <label for="Wisdom-save" (click)="_rollSave('wisSave')"> <a href="javascript:void(0)">Wisdom</a></label>
                <input name="Wisdom-save" placeholder="+0" type="text" [(ngModel)]="model.wisSave" [ngModelOptions]="{standalone: true}"  (ngModelChange)="SendUpdate()" />
                <input name="Wisdom-save-prof" type="checkbox" [(ngModel)]="model.wisSaveChk"  [ngModelOptions]="{standalone: true}" />
              </li>
              <li>
                <label for="Intelligence-save" (click)="_rollSave('intSave')"> <a href="javascript:void(0)">Intelligence</a></label>
                <input name="Intelligence-save" placeholder="+0" type="text" [(ngModel)]="model.intSave" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
                <input name="Intelligence-save-prof" type="checkbox" [(ngModel)]="model.intSaveChk" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
              </li>
              <li>
                <label for="Charisma-save" (click)="_rollSave('chaSave')"> <a href="javascript:void(0)">Charisma</a></label>
                <input name="Charisma-save" placeholder="+0" type="text" [(ngModel)]="model.chaSave" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
                <input name="Charisma-save-prof" type="checkbox" [(ngModel)]="model.chaSaveChk" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
              </li>
            </ul>
            <div class="label">
              Saving Throws
            </div>
          </div>
          <div class="skills list-section box">
            <ul>
              <li>
                <label for="Acrobatics" (click)="_rollSave('acrobatics')"> <a href="javascript:void(0)"> Acrobatics </a> <span class="skill">(Dex)</span></label>
                <input name="Acrobatics" placeholder="+0" type="text" [(ngModel)]="model.acrobatics" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
                <input name="Acrobatics-prof" type="checkbox" [(ngModel)]="model.acrobaticsChk" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
              </li>
              <li>
                <label for="Animal Handling" (click)="_rollSave('animal_handling')"> <a href="javascript:void(0)"> Animal Handling </a> <span class="skill">(Wis)</span></label>
                <input name="Animal Handling" placeholder="+0" type="text" [(ngModel)]="model.animal_handling" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
                <input name="Animal Handling-prof" type="checkbox" [(ngModel)]="model.animal_handlingChk" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
              </li>
              <li>
                <label for="Arcana" (click)="_rollSave('arcana')"> <a href="javascript:void(0)"> Arcana </a> <span class="skill">(Int)</span></label>
                <input name="Arcana" placeholder="+0" type="text" [(ngModel)]="model.arcana" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
                <input name="Arcana-prof" type="checkbox" [(ngModel)]="model.arcanaChk" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
              </li>
              <li>
                <label for="Athletics" (click)="_rollSave('athletics')"> <a href="javascript:void(0)"> Athletics </a> <span class="skill">(Str)</span></label>
                <input name="Athletics" placeholder="+0" type="text" [(ngModel)]="model.athletics" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
                <input name="Athletics-prof" type="checkbox" [(ngModel)]="model.athleticsChk" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
              </li>
              <li>
                <label for="Deception" (click)="_rollSave('deception')"> <a href="javascript:void(0)"> Deception </a> <span class="skill">(Cha)</span></label>
                <input name="Deception" placeholder="+0" type="text"  [(ngModel)]="model.deception" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
                <input name="Deception-prof" type="checkbox"  [(ngModel)]="model.deceptionChk" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
              </li>
              <li>
                <label for="History" (click)="_rollSave('history')"> <a href="javascript:void(0)"> History </a> <span class="skill">(Int)</span></label>
                <input name="History" placeholder="+0" type="text"  [(ngModel)]="model.history" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
                <input name="History-prof" type="checkbox"  [(ngModel)]="model.historyChk" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
              </li>
              <li>
                <label for="Insight" (click)="_rollSave('insight')"> <a href="javascript:void(0)"> Insight </a> <span class="skill">(Wis)</span></label>
                <input name="Insight" placeholder="+0" type="text"  [(ngModel)]="model.insight" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
                <input name="Insight-prof" type="checkbox"  [(ngModel)]="model.insightChk" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
              </li>
              <li>
                <label for="Intimidation" (click)="_rollSave('intimidation')"> <a href="javascript:void(0)"> Intimidation </a> <span class="skill">(Cha)</span></label>
                <input name="Intimidation" placeholder="+0" type="text"  [(ngModel)]="model.intimidation" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
                <input name="Intimidation-prof" type="checkbox"  [(ngModel)]="model.intimidationChk" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
              </li>
              <li>
                <label for="Investigation" (click)="_rollSave('investigation')"> <a href="javascript:void(0)"> Investigation </a> <span class="skill">(Int)</span></label>
                <input name="Investigation" placeholder="+0" type="text"  [(ngModel)]="model.investigation" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
                <input name="Investigation-prof" type="checkbox"  [(ngModel)]="model.investigationChk" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
              </li>
              <li>
                <label for="Medicine" (click)="_rollSave('medicine')"> <a href="javascript:void(0)"> Medicine </a> <span class="skill">(Wis)</span></label>
                <input name="Medicine" placeholder="+0" type="text" [(ngModel)]="model.medicine" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
                <input name="Medicine-prof" type="checkbox" [(ngModel)]="model.medicineChk" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
              </li>
              <li>
                <label for="Nature" (click)="_rollSave('nature')"> <a href="javascript:void(0)"> Nature </a> <span class="skill">(Int)</span></label>
                <input name="Nature" placeholder="+0" type="text" [(ngModel)]="model.nature" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
                <input name="Nature-prof" type="checkbox" />
              </li>
              <li>
                <label for="Perception" (click)="_rollSave('perception')"> <a href="javascript:void(0)"> Perception </a> <span class="skill">(Wis)</span></label>
                <input name="Perception" placeholder="+0" type="text" [(ngModel)]="model.perception" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
                <input name="Perception-prof" type="checkbox" [(ngModel)]="model.perceptionChk" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
              </li>
              <li>
                <label for="Performance" (click)="_rollSave('performance')"> <a href="javascript:void(0)"> Performance </a> <span class="skill">(Cha)</span></label>
                <input name="Performance" placeholder="+0" type="text" [(ngModel)]="model.performance" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
                <input name="Performance-prof" type="checkbox" [(ngModel)]="model.performanceChk" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
              </li>
              <li>
                <label for="Persuasion" (click)="_rollSave('persuasion')"> <a href="javascript:void(0)"> Persuasion </a> <span class="skill">(Cha)</span></label>
                <input name="Persuasion" placeholder="+0" type="text" [(ngModel)]="model.persuasion" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
                <input name="Persuasion-prof" type="checkbox"  [(ngModel)]="model.persuasionChk" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
              </li>
              <li>
                <label for="Religion" (click)="_rollSave('religion')"> <a href="javascript:void(0)"> Religion </a> <span class="skill">(Int)</span></label>
                <input name="Religion" placeholder="+0" type="text" [(ngModel)]="model.religion" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
                <input name="Religion-prof" type="checkbox"  [(ngModel)]="model.religionChk" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
              </li>
              <li>
                <label for="Sleight of Hand" (click)="_rollSave('sleight_of_hand')"> <a href="javascript:void(0)"> Sleight of Hand </a> <span class="skill">(Dex)</span></label>
                <input name="Sleight of Hand" placeholder="+0" type="text" [(ngModel)]="model.sleight_of_hand" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
                <input name="Sleight of Hand-prof" type="checkbox"  [(ngModel)]="model.sleight_of_handChk" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
              </li>
              <li>
                <label for="Stealth" (click)="_rollSave('stealth')"> <a href="javascript:void(0)"> Stealth </a> <span class="skill">(Dex)</span></label>
                <input name="Stealth" placeholder="+0" type="text"  [(ngModel)]="model.stealth" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
                <input name="Stealth-prof" type="checkbox" [(ngModel)]="model.stealthChk" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
              </li>
              <li>
                <label for="Survival" (click)="_rollSave('survival')"> <a href="javascript:void(0)"> Survival </a> <span class="skill">(Wis)</span></label>
                <input name="Survival" placeholder="+0" type="text"  [(ngModel)]="model.survival" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
                <input name="Survival-prof" type="checkbox" [(ngModel)]="model.survivalChk" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
              </li>
            </ul>
            <div class="label">
              Skills
            </div>
          </div>
        </div>
      </section>
      <div class="passive-perception box">
        <div class="label-container">
          <label for="passiveperception">Passive Wisdom (Perception)</label>
        </div>
        <input name="passiveperception" placeholder="10" />
      </div>
      <div class="otherprofs box textblock">
        <label for="otherprofs">Other Proficiencies and Languages</label>
        <textarea name="otherprofs" [(ngModel)]="model.otherprofs" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"
        ></textarea>
      </div>
    </section>
    <section>
      <section class="combat">
        <div class="armorclass">
          <div>
            <label for="ac">Armor Class</label>
            <input name="ac" placeholder="10" type="text" [(ngModel)]="model.AC" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
          </div>
        </div>
        <div class="initiative">
          <div>
            <label for="initiative" (click)="_roll('initiative')"><a href="javascript:void(0)">Initiative</a></label>
            <input name="initiative" placeholder="+0" type="text" [(ngModel)]="model.initiative" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
          </div>
        </div>
        <div class="speed">
          <div>
            <label for="speed">Speed</label><input name="speed" placeholder="30" type="text" [(ngModel)]="model.speed" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
          </div>
        </div>
        <div class="hp">
          <div class="regular">
            <div class="max">
              <label for="maxhp">Hit Point Maximum</label><input name="maxhp" placeholder="10" type="text" [(ngModel)]="model.maxHP" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
            </div>
            <div class="current">
              <label for="currenthp">Current Hit Points</label><input name="currenthp" type="text" [(ngModel)]="model.HP" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
            </div>
          </div>
          <div class="temporary">
            <label for="temphp">Temporary Hit Points</label><input name="temphp" type="text" [(ngModel)]="model.tempHP" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
          </div>
        </div>
        <div class="hitdice">
          <div>
            <div class="total">
              <label for="totalhd">Total</label><input name="totalhd" placeholder="2d10" type="text" [(ngModel)]="model.hdTotal" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
            </div>
            <div class="remaining">
              <label for="remaininghd">Hit Dice</label><input name="remaininghd" type="text" [(ngModel)]="model.hd" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
            </div>
          </div>
        </div>
        <div class="deathsaves">
          <div>
            <div class="label">
              <label>Death Saves</label>
            </div>
            <div class="marks">
              <div class="deathsuccesses">
                <label>Successes</label>
                <div class="bubbles">
                  <input name="deathsuccess1" type="checkbox" [(ngModel)]="model.deathsuccess1" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
                  <input name="deathsuccess2" type="checkbox" [(ngModel)]="model.deathsuccess2" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
                  <input name="deathsuccess3" type="checkbox" [(ngModel)]="model.deathsuccess3" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
                </div>
              </div>
              <div class="deathfails">
                <label>Failures</label>
                <div class="bubbles">
                  <input name="deathfail1" type="checkbox" [(ngModel)]="model.deathfail1" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
                  <input name="deathfail2" type="checkbox" [(ngModel)]="model.deathfail2" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
                  <input name="deathfail3" type="checkbox" [(ngModel)]="model.deathfail3" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="attacksandspellcasting">
        <div>
          <label>Attacks & Spellcasting</label>
          <table>
            <thead>
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Atk Bonus
                </th>
                <th>
                  Damage/Type
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input name="atkname1" type="text"  [(ngModel)]="model.attack1.name" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()"  />
                </td>
                <td>
                  <input name="atkbonus1" type="text"  [(ngModel)]="model.attack1.bonus" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
                </td>
                <td>
                  <input name="atkdamage1" type="text"  [(ngModel)]="model.attack1.damage" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
                </td>
              </tr>
              <tr>
                <td>
                  <input name="atkname2" type="text"  [(ngModel)]="model.attack2.name" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
                </td>
                <td>
                  <input name="atkbonus2" type="text"  [(ngModel)]="model.attack2.bonus" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
                </td>
                <td>
                  <input name="atkdamage2" type="text"  [(ngModel)]="model.attack2.damage" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
                </td>
              </tr>
              <tr>
                <td>
                  <input name="atkname3" type="text"  [(ngModel)]="model.attack3.name" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
                </td>
                <td>
                  <input name="atkbonus3" type="text"  [(ngModel)]="model.attack3.bonus" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
                </td>
                <td>
                  <input name="atkdamage3" type="text"  [(ngModel)]="model.attack3.damage" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
                </td>
              </tr>
            </tbody>
          </table>
          <textarea></textarea>
        </div>
      </section>
      <section class="equipment">
        <div>
          <label>Equipment</label>
          <div class="money">
            <ul>
              <li>
                <label for="cp">cp</label><input name="cp" [(ngModel)]="model.cp" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
              </li>
              <li>
                <label for="sp">sp</label><input name="sp" [(ngModel)]="model.sp" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
              </li>
              <li>
                <label for="ep">ep</label><input name="ep" [(ngModel)]="model.ep" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
              </li>
              <li>
                <label for="gp">gp</label><input name="gp" [(ngModel)]="model.gp" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
              </li>
              <li>
                <label for="pp">pp</label><input name="pp" [(ngModel)]="model.pp" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" />
              </li>
            </ul>
          </div>
          <textarea placeholder="Equipment list here" [(ngModel)]="model.equipment" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" ></textarea>
        </div>
      </section>
    </section>
    <section>
      <section class="flavor">
        <div class="personality">
          <label for="personality">Personality</label><textarea name="personality" [(ngModel)]="model.personality" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" ></textarea>
        </div>
        <div class="ideals">
          <label for="ideals">Ideals</label><textarea name="ideals" [(ngModel)]="model.ideals" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" ></textarea>
        </div>
        <div class="bonds">
          <label for="bonds">Bonds</label><textarea name="bonds" [(ngModel)]="model.bonds" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" ></textarea>
        </div>
        <div class="flaws">
          <label for="flaws">Flaws</label><textarea name="flaws" [(ngModel)]="model.flaws" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" ></textarea>
        </div>
      </section>
      <section class="features">
        <div>
          <label for="features">Features & Traits</label><textarea name="features" [(ngModel)]="model.features" [ngModelOptions]="{standalone: true}" (ngModelChange)="SendUpdate()" ></textarea>
        </div>
      </section>
    </section>
  </main>
</form>
