.title {
    display: flex;
    flex-direction: row;
    width: 100%;
    input {
        flex: 1;
    }
}

.content {
    display: flex;
    height: 85%;
    max-height: 85%;
    flex-direction: column;
}

.editing {
    height: 100%;
    display: block;
}

textarea {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

app-character-image {
    width: 80px;
    height: 80px;
    max-width: 80px;
    max-height: 80px;
}
