<div class="editing" *ngIf="editMode; else display">
    <div class="title" *ngIf="!isCS()">
        <span><</span>title>
        <input type="text" name="title" [(ngModel)]="title" />
        <span><</span>/title>
    </div>
    <div class="title-cs" *ngIf="isCS()">
        <app-character-image [character]="object"></app-character-image>
        <h1> {{ CsName() }} </h1>
    </div>
    <hr />
    <div class="content">
        <textarea name="content" id="content" [(ngModel)]="content"></textarea>
    </div>
</div>

<ng-template #display>
    <div style="margin-bottom: 100px" *ngIf="!editMode">
        <div class="title">
            <app-character-image [(character)]="object" *ngIf="isCS()"></app-character-image>
            <h1>{{ GetTitle() }}</h1>
        </div>
        <hr *ngIf="(title)? true : false" />
        <div class="innerContent" [innerHTML]="DisplayContent()">
        </div>
    </div>
</ng-template>
