@import './../app.component';

mat-card-content {
    display: flex;
    flex-direction: column;
}

mat-card {
    width: 260px;
    margin: auto;
    margin-top: 126px;
    background-color: $light-primary-color;
}

:host {
    width: 100%;
    height: 100%;
    background-color: $primary-color;
}
