<mat-card>
  <mat-card-title> Sign In </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <mat-label> <mat-icon> account_circle </mat-icon> Username </mat-label>
      <input matInput id="username" [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field>
      <mat-label> <mat-icon> lock </mat-icon> Password </mat-label>
      <input matInput type="password" id="password" [(ngModel)]="password">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button (click)="login()"> <mat-icon>login</mat-icon>Sign In</button>
  </mat-card-actions>
</mat-card>
