<span><a (click)="OnSelected(cat)">{{cat.name}}</a></span>
<ul *ngIf="cat.subCats.length > 0">
	<li *ngFor="let subcat of cat.subCats">
		<dme-cat [cat]="subcat" (Selected)="OnSelected($event)"></dme-cat>
	</li>
</ul>
