
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$grid-primary: mat-palette($mat-indigo);
$grid-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$grid-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$grid-theme: mat-light-theme($grid-primary, $grid-accent, $grid-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($grid-theme);

/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #455A64;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.loading-backdrop {
  background-color: black;
}
