.roll-background {
    .roll-message {
        width: 100%;
        border-radius: 15px;
        padding: 8px 12px;
        background-color:  #95AAB4;
        .formula {
            color: #888;
        }

        .result {
            .total {
                color: blue;
            }
            .extended {
                color: gray;
            }
        }

        p {
            margin-top: 8px;
            margin-bottom: 2px;
        }
    }
}
.padder-roll {
    width: 8px;
}

.player-image {
    padding-left: 2px;
    padding-top: 2px;

    img {
        max-width: 64px;
        max-height: 64px;
        width: 64px;
        height: 64px;
        border-radius: 25%;
    }
}

.message-background {
    .message-content {
        flex: 1;
        border-radius: 15px;
        padding-left: 12px;
        padding-top: 8px;
        padding-right: 12px;
        padding-bottom: 8px;
        margin-left: 6px;
        margin-bottom: 3px;
        background-color: #758A94;
        color: #FFF;
        .message-author {
            color: #BBB;
        }
        .message-content {
            padding-top : 0;
        }
    }
}

.system-background {
    .system-message {
        background-color: #f1a950;
        border-radius: 15px;
        padding: 8px 12px;
        display: flex;
        width: 100%;
        flex-direction: column;
        p {
            flex: 1;
            text-align: center;
            margin: auto;
        }
    }
}

.message-container {
    display: flex;
    width: 100%;
    padding: 4px;
}

.row-direction {
    flex-direction: row;
}

.column-direction {
    flex-direction: column;
}

.flex {
    display: flex;
}

.centered {
    text-align: center;
}


