<ng-template #chat>
    <div class="message-container row-direction message-background">
        <div class="player-image">
            <img [src]="getImage()">
        </div>
        <div class="message-content">
            <span class="message-author" *ngIf="message.player"> {{message.player.name}}: </span>
            <span class="message-content">{{ content }} </span>
        </div>
    </div>
</ng-template>

<ng-template #roll>
    <div class="message-container row-direction roll-background">
        <div class="player-image">
            <img [src]="getImage()">
        </div>
        <div class="padder-roll"></div>
        <div class="roll-message column-direction flex">
            <p class="author" *ngIf="message.player"> {{message.player.name}}: <span class="formula">{{  this.message.content.formula}}</span> </p>
            <p class="result centered">   Result: <span class="total">{{ content.total }} </span>
                <span class="expanded">
                    ( <span *ngFor="let r of content.rolls; let i = index">
                    {{ r }}
                    <span *ngIf="i+1 < content.rolls.length">
                        +
                    </span>
                    </span>
                    <span *ngIf="content.modifier">
                        +  {{ content.modifier }}
                    </span>
                    )
                </span>
            </p>
        </div>
    </div>
</ng-template>

<ng-template #system>
    <div class="message-container system-background">
        <div class="system-message">
            <p> Mensaje de Sistema: </p>
            <p> {{ message.content.error }} </p>
            <p> {{ message.content.input }} </p>
        </div>
    </div>
</ng-template>

<ng-template #default>
    <div class="message-container">
        <p> placeholder </p>
    </div>
</ng-template>


<ng-container [ngSwitch]="viewType">
    <ng-container *ngSwitchCase="1" [ngTemplateOutlet]="chat"></ng-container>
    <ng-container *ngSwitchCase="2" [ngTemplateOutlet]="roll"> </ng-container>
    <ng-container *ngSwitchCase="3" [ngTemplateOutlet]="system"></ng-container>
    <ng-container *ngSwitchDefault [ngTemplateOutlet]="default"></ng-container>
</ng-container>

