<mat-dialog-content>
  <mat-form-field>
    <mat-label> Image Title </mat-label>
    <input matInput id="name" [(ngModel)]="name">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    <mat-icon>
      clear
    </mat-icon>
  </button>
  <button mat-button [mat-dialog-close]="name">
    <mat-icon>
      check
    </mat-icon>
  </button>
</mat-dialog-actions>
