<div id="EDITOR" class="editor-content">
    <div id="object-bar" class="object-bar">
        <div class="action-bar">
            <button [matMenuTriggerFor]="newObjectsMenu"> <mat-icon aria-hidden="false" aria-label="new">add</mat-icon> </button>
        </div>
        <ul>
            <li *ngFor="let cs of Characters()" (click)="Select(cs)">
                <a><i class="material-icons md-18">person_outline</i> <span> {{cs.name}} </span></a>
            </li>
            <li *ngFor="let obj of Content()" (click)="Select(obj)">
                <a> {{obj.title}} </a>
            </li>
        </ul>
    </div>
    <div id="object-content" class="object-content">
        <div class="action-bar">
            <button (click)="DeleteSelectedObject()" matToolTip="Eliminar" *ngIf="CanRemove()">
                <mat-icon aria-hidden="false" aria-label="Delete">
                    delete
                </mat-icon>
            </button>
            <button (click)="EditSelectedObject()" matToolTip="Editar" *ngIf="CanEdit() && !editing">
                <mat-icon aria-hidden="false" aria-label="Edit">
                    edit
                </mat-icon>
            </button>
            <button (click)="Save()" *ngIf="editing">
                <mat-icon aria-hidden="false" aria-label="save">
                    save
                </mat-icon>
            </button>
            <button (click)="RevertChanges()" *ngIf="editing">
                <mat-icon aria-hidden="false" aria-label="revert">
                    undo
                </mat-icon>
            </button>
            <button (click)="ShowCS(selectedObject)" matToolTip="Mostrar" *ngIf="isCS()">
                <mat-icon aria-hidden="false" aria-label="show">
                    open_in_new
                </mat-icon>
            </button>
        </div>
        <editor-object [object]="selectedObject" [editMode]="editing"></editor-object>
    </div>
</div>

<mat-menu #newObjectsMenu="matMenu">
    <button mat-menu-item (click)="newCharacter()"> Character </button>
    <button mat-menu-item  (click)="newPage()"> Page </button>
</mat-menu>
