@import './../../app.component';

.object-bar li:hover{
  background-color:#000;
  color: #f1f1f1;
}

.object-content {
  flex-grow: 1;
  padding:8px 8px;
  overflow:auto;
}

.editor-content {
  background-color: $primary-color;
  width: 600px;
  height: 100%;
  display: flex;
  color: $text;
  border-top: #000000;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  flex-direction: row-reverse;
}

.object-bar {
  display: block;
  width: 120px;
}

.object-bar > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 120px;
  background-color: $light-primary-color;
  height: 100%;
  display: block;
}

.object-bar li{
  display: block;
  color: $secondary-text;
  padding: 8px 16px;
  text-decoration: none;
}

:host {
  width: 600px;
  max-width: 600px;
}

.action-bar {
  button {
    float: right;
  }
}
